@charset "utf-8";

div {
    display: inline-block;
    background-color: gray;
    border: 1px solid black; /*short hand*/
    text-align: center;
    width: 200px;
    height: 200px;
}

div:hover {
    background-color: yellow;
}