@charset "utf-8";



body {
    background-color: black;
    color: white;
    font-family: fantasy;
    /*absolute measures
    cm, mm, in, px, pt, pc

    relatives measurements
    em, ex, rem, vw, vh, %
    16px generally = 1em */
    font-size: 1em;
}
h1 {
        /* shorthand, font, in order
        - font-style -> font-weight -> font-size -> font-family*/
        font: italic bold 3em 'work sans', sans-serif;
}

