@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
}

* {margin: 0; padding: 0;}

:root {
    --color1: #c5ebd6;
    --color2: #83e1ad;
    --color3: #3ddc84;
    --color4: #1a5c37;
    --color5: #063d1e;

    --font-defaut: Arial, Verdana, Helvetica, sans-serif;
    --font-emphasi: "Roboto", sans-serif;
    --font-android: 'Android', cursive;
}

body {
    background-color: var(--color2);
    font-family: var(--font-defaut);
}

a.external::after {
    content: '\1F517';
}

p {
    margin: 15px 0px;
    text-align: justify;
}

header {
    min-height: 200px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(207, 79, 40), blue);
    /* background-color: var(--color4); */
}

header h1 {
    color: white;
    font-family: var(--font-emphasi);
    font-size: 3em;
    padding-top: 40px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.545);
}

header p {
    font-size: 1.5em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.59);
}

nav {
    background-color: var(--color5);
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: alias;
    font-weight: bold;
}

nav a:hover {
    background-color: coral;
    border-radius: 20px;
    color: black;
    transition-duration: 0.7s;
}

header p {
    color: white;
}

main {

    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--color5);
    font-family: var(--font-android);
    background-image: linear-gradient(to right, rgba(255, 0, 208, 0.2), transparent);
    border-radius: 20px;
    padding-left: 10px;
}

main h2 {
    border-radius: 20px;
    font-family: var(--font-android);
    background-image: linear-gradient(to right, rgba(255, 0, 208, 0.2), transparent);
    padding-left: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 22px;
}

main strong {
    color: yellow;
}

main a {
    background-color: var(--color2);
    border-radius: 10px;
    padding: 3px 5px;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
    text-decoration: overline;
    color: blue;
}

main img {
    width: 100%;
}

main .small {
    max-width: 400px;
    display: block;
    margin: auto;
}

main > article > div.new {
    margin: 20px 0px 20px 0px;
    height: 400px;
    width: 1000px;
    position: relative;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

aside {
    background-color: var(--color5);
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    background-color: #3ddc84;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: var(--color5);
    margin: -10px;
}

aside > ul {
    list-style-type: '\2714 \00A0\00A0'; /* \0020 = One space
    \00A0 = &nbsp; */
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--color5);
    color: white;
    padding: 0.5px;
}

footer p {
    text-align: center;
    font-size: 1em;
}



/* @font-face {
    font-family: 'cool';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
}

header {
    background-image: linear-gradient(to bottom, #36c274, #1a5c38);
    width: 1523px;
    height: 220px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

h1#tech {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.416);
}

p {
    font-family: 'Arial';
    text-align: center;
    color: white;
    padding: 42px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.426);
}

.par > a#ab > .bi {
    color: chartreuse;
}

a {
    font-family: 'Arial';
    color: white;
    text-decoration: none;
    margin: 10px;
}

a.a:hover {
    background-color: #1eed7b5e;
    padding: 10px;
    border-radius: 4px;
    transition-duration: .5s;
}

main {
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.379);
    width: 1200px;
    margin: auto;
}

.secH {
    text-indent: 10px;
    color: green;
    padding: 30px;
    font-family: 'cool';
}

.par {
    text-align: left;
    color: black;
    text-shadow: 0px 0px 0px black;
}

#secH {
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.422),  rgba(0, 128, 0, 0.163), rgba(0, 128, 0, 0.021) );
    padding: 1px;
    color: rgb(27, 163, 59);
    margin-left: 42px;
}

iframe {
    margin: auto;
}

#se3 {
    background-color: rgba(0, 128, 0, 0.318);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#se3 > #li {
    margin: 0px;
    background-color: green;
    color: white;
}

.li1 {
    color: black;
}

abbr {
    text-decoration: none;
}

footer {
    background-color: #1a5c38;
}

footer p {
    margin: 0px;
    padding: 0px;
} */